@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue-Light.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue-Black.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('../fonts/HelveticaNeueLTPro-Md.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTPro-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('../fonts/HelveticaNeueLTPro-Blk.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTPro-Blk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geomanist';
    src: url('../fonts/Geomanist-Bold.woff2') format('woff2'),
        url('../fonts/Geomanist-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}